#shop {
    display: grid;
    grid-template-areas:
        "products products products cart"
}

#products {
    margin: 10px;
    grid-area: products;
}

#cart {
    grid-area: cart;
    min-width: 300px;
    border-left: 1px solid grey;
}