<mat-card>
    <mat-card-header>
      <p class="title">{{product.getName()}}</p>
    </mat-card-header>

    <img class="product" mat-card-image src={{product.getImageUrl()}}>

    <mat-card-content>
      <p class="description">{{product.getDescription()}}</p>
    </mat-card-content>

    <mat-form-field>
      <input matInput class="quantityInput" type="number" [(ngModel)]="quantity">
    </mat-form-field>
    
    <button mat-raised-button class="productButton" (click)="addToCard(product, quantity)">Add</button>
    
</mat-card>